h1{
background-color: pink;
color: black;
font-family: arial, sans-serif;
font-size: 24px;
}

p{
	background-color: green;
	color: white;
	font-family: helvetica, comic sans-serif;
	font-size: 18px;
}

ul{
	list-style-type: none;
	font-family: helvetica;
	font-size: 14px;
	color: blue;
}

ol{
	list-style-type: none;
	font-family: helvetica;
	font-size: 14px;
	color: purple;
}