h3{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 16px;
	margin: 15px;
	padding: 10px
}

div{
	background-color: lightgrey;
	padding: 15px;
	margin: 20px;

}

#p1{
	color: purple;
}

#p2{
	color: green;
}

#p3{
	color: yellow;
}

.body{
	background-color: coral;
	margin: 15px;
	padding: 30px;
	text-align: center;
}