/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

div{
  background-color: #f0efef
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
  width: 25%;
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  width: 72%; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;/*
  font-size: 55px;*/
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  background-color: #033048;
  height: 75px;
}

header p{
  font-weight: bolder;
  font-size: 40px;
}

header a{
  font-size: 24px;
  font-weight: normal;
}

#ad {
  width: 80%;
  padding: 35px;
}

#title{
  float: left;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
}

nav {
  float: right;
  margin-right: 50px;
  padding-top: 30px;
}

nav a {
  display: inline-block;
  padding-right: 20px;
  color: #f9e42e;
  font-size: 30px;
  font-weight: 600px;
}

article {
  width: 80%;
  padding-left: 15%;
  color: #606161;
}

article img {
  width: 100%;
}

#readme{
  text-align: right;
}

footer{
  background-color: #121212;
  text-align: center;
  padding: 30px;
}

footer p{
  color: #f9e42e;
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 30px;
}

footer a{
  padding: 17px;
}

article h1{
  font-weight: bolder;
  font-size: 40px;
  color: #033048;
}

article p{
  font-size: 24px;
  font-weight: lighter;
  padding: 5px;
}

aside h1{
  font-weight: bolder;
  font-size: 42px;
  color: #033048;
  padding: 7px;
}

aside{
  text-align: left;
}

#catagories{
  font-size: 24px
  font-weight: lighter;
  color: #606161;
}

#about{
  font-weight: lighter;
  font-size: 22px;
  color: #606161;
}

#signup{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #f9e42e;
  padding: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




